.advants-modal {
    visibility: hidden;
    opacity: 0;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s 0.1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.1s ease-out;
        }
    }
    .btn-cross.modal__close {
        position: absolute;
        top: 53px;
        right: 40px;
        z-index: 1;
    }
    .modal__content {
        width: 100%;
        max-width: 700px;
        max-height: 100%;
        padding: 40px 40px 25px;
        margin: auto;
        background: #fff;
        position: relative;
        overflow: hidden;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-out;
        display: flex;
        flex-direction: column;
        .custom-scroll {
            flex: 1 1 auto;
            padding: 0 40px 15px;
            margin: 0 auto;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 3px;
                background-color: #d9d9d9;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #000;
            }
        }
    }
    .modal__top {
        min-height: 52px;
        position: relative;
        display: flex;;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 40px 24px;
        .h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            padding: 0;
        }
        .item-advant__icon {
            top: 0;
        }
    }
    @media (max-height: 400px) and (min-width: 767px) {
        padding: 0;
    }
    @media only screen and (max-width: 767px) {
        padding: 0;
        .btn-cross.modal__close {
            top: 24px;
            right: 16px;
        }
        .modal__content {
            max-width: 100%;
            padding: 16px 16px 0;
            .custom-scroll {
                padding: 0 0 16px;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                    height: 0;
                }
            }
        }
        .modal__top {
            min-height: 32px;
            margin: 0 0 16px;
            .h2 {
                font-size: 20px;
            }
        }
    }
}
